@font-face {
    font-family: 'ubuntu';
    src: url(Ubuntu-Regular.ttf) format('woff2');
}

body{
    margin:0;
    height:100%;
    width:100%;
}

p{
    margin:0;
}

#background{
    width:100%;
    z-index:1;
    position:fixed;
}

#logo{
    position:absolute;
    display:block;
    z-index:2;
    width:25%;
    left:50%;
    top:5%;
    transform:translateX(-50%);
    transition:transform 0.5s;
}

#logo img{
    width:100%;

}

#logo:hover{
    transform:translateX(-50%) scale(1.1);
    transition:transform 0.5s;
}



#indications{
    width:300px;
    height:54px;
    background-color: rgb(38, 38, 38);
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
    top:30%;
    border:2px solid rgb(163, 142, 22);
    border-radius:5px;
    font-size:15px;
    text-align:center;
    font-family:"ubuntu";
    color:#fff;
}
#saisie{
    position:absolute;
    left:0;
    height:90%;
    width:70%;
    background-color:transparent;
    border:none;
    font-size:200%;
    color:white;
    font-family:"ubuntu";
    margin:1% 3%;
}
#saisie:focus-visible{
    outline:none;
}
#indications p{
    width:100%;
    position:absolute;
    z-index:3;
    top:50%;
    transform:translateY(-50%);
}
.searchbarOK{
    height:74px;
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:3;
    top:50%;
    border-radius:5px;
}

.searchbarPAS{
    height:74px;
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:3;
    top:50%;
    border-radius:5px;
    display:none;

}



#searchbar img{
    float:left;
}

.essai > img{
    width:100%;
}







#resaux{
    position:absolute;
    width: 15%;
    z-index:2;
    left:50%;
    transform:translateX(-50%);
}

#twitter, #infos{
    display:block;
    width:30%;
    margin:10%;
    float:left;
}
#resaux img{
   width:100%;
}
#copyright{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:block;
    font-family:"Froz Quadrata";
    bottom:0;
    font-size:70%;
    color:white;
}

.alphabetical{
    background-color:#383838;
    max-height: 350%;
    width: 318px;
    position: absolute;
    top: 74px;
    opacity:0;
    display:none;
}

.alphabeticalopa:hover{
    box-shadow: 3px 3px 6px black;
    transition : box-shadow 0.3s;
}

.alphabeticalopa{
    max-height: 350%;
    width: 318px;
    position: absolute;
    background-color:#383838;
    top: 74px;
    opacity:1;
    z-index:5;
    border-radius: 0 0 10px 10px;
    overflow:auto;
    transition : box-shadow 0.3s;
    scroll-behavior: smooth;
}

.persobox{
    height: 44px;
    width: 100%;
    background-color:#383838;
    font-family:ubuntu;
    cursor:pointer;
    border-radius: 0 0 10px 10px;
}

.paraselect{
    display: block;
    top: 50%;
    position: relative;
    transform: translate(3%,-50%);
    color:red;
    transition : color 0.3s;
    width:97%;
}
.persobox>img{
    border-radius:4px;
    height: 36px;
    margin: 4px;
}

.paraguess{
    display: block;
    top: 50%;
    position: relative;
    transform: translate(3%,-50%);
    color:white;
    transition : color 0.3s;
    width:97%;
}

.paraguess:hover{
    display: block;
    top: 50%;
    position: relative;
    transform: translate(3%,-50%);
    color:red;
    transition : color 0.3s;
    width:97%;

}

.persoboxtr{
    height: 44px;
    width: 100%;
    background-color:#383838;
    display:none;
}

.tryguess{
    position: relative;
    width: 940px;
    height: 100px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.essai{
    width: 88px;
    height: 88px;
    float: left;
    margin: 5px 2px;
    border: 1px solid white;
    box-shadow: inset 0 0 6px #000;
    cursor: default;
    background-size: cover;
    transform: rotate3d(0,1,0,0deg);
    transition: transform 0.5s,opacity 0.5s;
    opacity:1;
}

.essai:not(.imgessai):hover{
    filter:brightness(1.2);
}

.essaipreflip{
    opacity:0;
    width: 88px;
    height: 88px;
    float: left;
    margin: 5px 2px;
    border: 1px solid white;
    box-shadow: inset 0 0 6px #000;
    cursor: default;
    background-size: cover;
    transform: rotate3d(0,1,0,120deg);
    transition: transform 0.5s,opacity 0.5s;
}



#guess{
    top:60%;
    position:relative;
    padding-bottom:100px;
}

.foreheade{
    position: relative;
    width: 940px;
    height: 60px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    opacity:0;
}
.foreheadopa{
    position: relative;
    width: 940px;
    height: 60px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    opacity:1;
}

.entete{
    width: 94px;
    float: left;
    font-family: ubuntu;
    color: white;
    text-align: center;
    top: 100%;
    position: relative;
    transform: translateY(-100%);
}


.hrr{
    position: relative;
    z-index: 3;
    color: white;
    width:846px;
    opacity:0;
}

.hrrOpa{
    position: relative;
    z-index: 2;
    color: white;
    width:940px;
    opacity:1;
}

.essai>p{
    font-size:70%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
    font-family:ubuntu;
}

.sucessd{
    display:none;
    position:relative;
    width:400px;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
    background:linear-gradient(#16793d,#1e2328);
    border:2px solid green;
    margin-top: 100px;
    border-radius: 5px;
}

.sucessap{
    position:relative;
    width:400px;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:2;
    background:linear-gradient(#16793d,#1e2328);
    border:2px solid green;
    margin-top: 400px;
    border-radius: 5px;
}
#nextgame{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:black;
    font-size:150%;
    font-weight:ubuntu;
}
#sucess p{
    font-family: ubuntu;
}

#msgfel{
    margin:10px;
    color:white;
    text-align:center;
}
#imgfel{
    width: 25%;
    float: left;
    margin: 10px;
    border-radius:6px;
}

#youguess{
    display:block;
    text-align: center;
    float:left;
    clear:right;
    margin: 10px;
    color:white;
}

#nameguess{
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 68%;
    float: left;
}

#nextin{
    clear: left;
    text-align: center;
    color:white;
    margin-top: 30px;
}

#timer{
    font-size:150%;
    text-align: center;
    margin-top: 30px;
    color:white;

}

#lobby img{
    width:100%;
    transition:filter 0.5s;
    border-radius: 5px;
}

#lobby{
    width: 65%;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin: 10px;
}

#lobby:hover img{
    filter:blur(4px);
    transition:filter 0.5s;
}

.infoss{
    height: 45%;
    width: 500px;
    position: fixed;
    border: 2px solid black;
    background:linear-gradient(#1f1f1f,#373737);
    color: white;
    z-index: 4;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    opacity:1;
    transition: opacity 0.2s, top 0.2s;

}

.infossd{
    height: 45%;
    width: 500px;
    position: fixed;
    border: 2px solid black;
    background:linear-gradient(#1f1f1f,#373737);
    color: white;
    z-index: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 70%;
    opacity:0;
    transition: z-index 0.3s,opacity 0.2s, top 0.2s;


}


#green,#red,#orange{
    position: relative;
    height: 27%;
    width: 100%;
    margin-top: 5%;
    font-family: ubuntu;
}

#colorcode{
    position:absolute;
    font-family:ubuntu;
    text-align: center;
    left: 50%;
    transform: translate(-50% ,25%);
}
#green > div{
    width: 40px;
    height: 40px;
    background-color: green;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin-left: 15px;
}

#red > div{
    width:40px;
    height:40px;
    background-color: red;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin-left: 15px;
}

#orange > div{
    width:40px;
    height:40px;
    background-color: orange;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin-left: 15px;
}

#orange>p{
    width: 415px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
    margin: 0 15px;
}

#red>p{
    width: 415px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
    margin: 0 15px;
}

#green>p{
    width: 415px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
    margin: 0 15px;
}

