@font-face {
    font-family: 'ubuntu';
    src: url(Ubuntu-Regular.ttf) format('woff2');
}

body{
    margin:0;
    height:100%;
    width:100%;
}

p{
    margin:0;
}

#background{
    width:100%;
    z-index:1;
    position:fixed;
}

#logo{
    position:absolute;
    display:block;
    z-index:2;
    width:25%;
    left:50%;
    top:5%;
    transform:translateX(-50%);
    transition:transform 0.5s;
}

#logo img{
    width:100%;

}

#logo:hover{
    transform:translateX(-50%) scale(1.1);
    transition:transform 0.5s;
}



#indications{
    width:300px;
    height:54px;
    background-color: rgb(38, 38, 38);
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
    top:30%;
    border:2px solid rgb(163, 142, 22);
    border-radius:5px;
    font-size:15px;
    text-align:center;
    font-family:"ubuntu";
    color:#fff;
}
#saisie{
    position:absolute;
    left:0;
    height:90%;
    width:70%;
    background-color:transparent;
    border:none;
    font-size:200%;
    color:white;
    font-family:"ubuntu";
    margin:1% 3%;
}
#saisie:focus-visible{
    outline:none;
}
#indications p{
    width:100%;
    position:absolute;
    z-index:3;
    top:50%;
    transform:translateY(-50%);
}
#searchbar{
    height:74px;
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:3;
    top:50%;
    border-radius:5px;
}



#searchbar img{
    float:left;
}

.essai > img{
    width:100%;
}







#resaux{
    position:absolute;
    width: 15%;
    z-index:2;
    left:50%;
    transform:translateX(-50%);
}

#twitter, #infos{
    display:block;
    width:30%;
    margin:10%;
    float:left;
}
#resaux img{
   width:100%;
}
#copyright{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:block;
    font-family:"Froz Quadrata";
    bottom:0;
    font-size:70%;
    color:white;
}

.alphabetical{
    background-color:#383838;
    max-height: 350%;
    width: 318px;
    position: absolute;
    top: 74px;
    opacity:0;
}

.alphabeticalopa{
    max-height: 350%;
    width: 318px;
    position: absolute;
    background-color:#383838;
    top: 74px;
    opacity:1;
    z-index:5;
}

.persobox{
    height: 44px;
    width: 100%;
    background-color:#383838;
    font-family:ubuntu;
    cursor:pointer;
}
.persobox>img{
    height: 36px;
    margin: 4px;
}

.persobox>p{
    display: block;
    top: 50%;
    position: relative;
    transform: translate(3%,-50%);
    color:white;
}

.persoboxtr{
    height: 44px;
    width: 100%;
    background-color:#383838;
    display:none;
}

.tryguess{
    position: relative;
    width: 846px;
    height: 100px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.essai{
    width: 88px;
    height: 88px;
    float: left;
    margin: 5px 2px;
    border: 1px solid white;
    box-shadow: inset 0 0 6px #000;
    cursor: default;
    background-size: cover;
    transform: rotate3d(0,1,0,0deg);
    transition: transform 0.5s,opacity 0.5s;
    opacity:1;
}

.essaipreflip{
    opacity:0;
    width: 88px;
    height: 88px;
    float: left;
    margin: 5px 2px;
    border: 1px solid white;
    box-shadow: inset 0 0 6px #000;
    cursor: default;
    background-size: cover;
    transform: rotate3d(0,1,0,120deg);
    transition: transform 0.5s,opacity 0.5s;
}



#guess{
    top:60%;
    position:relative;
    padding-bottom:100px;
}

.foreheade{
    position: relative;
    width: 846px;
    height: 60px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    opacity:0;
}
.foreheadopa{
    position: relative;
    width: 846px;
    height: 60px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    opacity:1;
}

.entete{
    width: 94px;
    float: left;
    font-family: ubuntu;
    color: white;
    text-align: center;
    top: 100%;
    position: relative;
    transform: translateY(-100%);
}


.hrr{
    position: relative;
    z-index: 3;
    color: white;
    width:846px;
    opacity:0;
}

.hrrOpa{
    position: relative;
    z-index: 3;
    color: white;
    width:846px;
    opacity:1;
}

.essai>p{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
    font-family:ubuntu;
}